@font-face {
    font-family: 'FontAwesome';
    src: url(../fonts/font-awesome/fonts/fontawesome-webfont.eot);
    src: url(../fonts/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0) format('embedded-opentype'), url(../fonts/font-awesome/fonts/fontawesome-webfont.woff2) format('woff2'), url(../fonts/font-awesome/fonts/fontawesome-webfont.woff) format('woff'), url(../fonts/font-awesome/fonts/fontawesome-webfont.ttf) format('truetype'), url(../img/font-awesome/fonts/fontawesome-webfont.svg#fontawesomeregular) format('svg');
    font-weight: normal;
    font-style: normal;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -0.0625rem;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}
@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset,
img,
abbr {
    border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}
ul li {
    list-style: none;
}
caption,
th {
    text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}
sup {
    vertical-align: text-top;
}
sub {
    vertical-align: text-bottom;
}
input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
legend {
    color: #000;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
    display: block;
}
img {
    max-width: 100%;
    height: auto;
}
body {
    position: relative;
}
a {
    text-decoration: none;
}
a:focus {
    outline: none;
}
input {
    outline: none;
}
button {
    border: none;
    background: none;
    cursor: pointer;
}
button:focus {
    outline: none;
}
h2 {
    color: #555;
    font-size: 1.875rem;
    font-weight: 400;
    font-family: "Raleway";
}
h6 {
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.75rem;
    max-width: 750px;
    margin: 1.5625rem auto;
}
span {
    color: #8c8c8c;
}
.p-1 {
    padding: 0.625rem 0;
}
.p-2 {
    padding: 0.9375rem 0;
}
.p-3 {
    padding: 1.25rem 0;
}
.p-4 {
    padding: 1.5625rem 0;
}
.pt-1 {
    padding-top: 10px;
}
.pt-2 {
    padding-top: 15px;
}
.pt-3 {
    padding-top: 20px;
}
.pt-4 {
    padding-top: 25px;
}
.pb-1 {
    padding-bottom: 10px;
}
.pb-2 {
    padding-bottom: 15px;
}
.pb-3 {
    padding-bottom: 20px;
}
.pb-4 {
    padding-bottom: 25px;
}
.py-1 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.py-2 {
    padding-top: 15px;
    padding-bottom: 15px;
}
.py-3 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.py-4 {
    padding-top: 25px;
    padding-bottom: 25px;
}
.px-1 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.px-2 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.px-3 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.px-4 {
    padding-left: 25px !important;
    padding-right: 25px !important;
}
.m-1 {
    margin: 0.625rem 0;
}
.m-2 {
    margin: 0.9375rem 0;
}
.m-3 {
    margin: 1.25rem 0;
}
.m-4 {
    margin: 1.5625rem 0;
}
.mt-1 {
    margin-top: 10px;
}
.mt-2 {
    margin-top: 15px;
}
.mt-3 {
    margin-top: 20px;
}
.mt-4 {
    margin-top: 25px;
}
.mb-1 {
    margin-bottom: 10px;
}
.mb-2 {
    margin-bottom: 15px;
}
.mb-3 {
    margin-bottom: 20px;
}
.mb-4 {
    margin-bottom: 25px;
}
.centro {
    text-align: center;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.open_tab {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
.hr-page {
    width: 99%;
    height: 0;
    border: 1px solid #e8eaf1;
}
.btn {
    display: block;
    font-family: "Raleway";
    -webkit-box-shadow: inset 0 -3px 0 #736357;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.4375rem;
    text-transform: uppercase;
    color: #fff;
}
.owl-dots {
    position: absolute !important;
    top: 220%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.owl-dots .active {
    width: 15px !important;
    height: 16px !important;
    border: 2px solid #d3c1ad !important;
    background: none !important;
}
.owl-dot {
    width: 11px !important;
    height: 11px !important;
    opacity: 0.5 !important;
    background-color: #fff !important;
    border-radius: 50%;
    margin: 0 0.3125rem;
}
.owl-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.owl-nav button {
    margin: 0 1.25rem;
    width: 40px !important;
    height: 73px !important;
    font-size: 8.125rem !important;
    color: #d3c1ad !important;
}
nav .fa-bars {
    font-size: 1.5625rem;
    display: none;
}
@media (max-width: 950px) {
    .nav-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
        justify-content: flex-start !important;
        width: 30% !important;
        position: fixed;
        top: 0;
        left: 0;
        background: #000;
        height: 100vh;
        -webkit-transform: translate(-120%, 0);
        transform: translate(-120%, 0);
    }
    nav .item {
        padding: 1.25rem;
    }
    nav .item:hover, nav .item:focus {
        background: rgba(255,255,255,0.29);
    }
    .fa-bars {
        display: block;
        cursor: pointer;
    }
}
#wrap {
    position: fixed;
    top: 150%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    will-change: top;
    z-index: 1;
}
.letter {
    width: 100%;
    height: 100%;
    background: rgba(18,18,20,0.95);
    position: fixed;
    z-index: 1;
    display: none;
    cursor: pointer;
}
.error {
    text-transform: initial;
    color: #f00;
    display: block;
    margin-bottom: 5px;
}
#message {
    color: #7c7873;
}
#form_wrap {
    overflow: hidden;
    height: 446px;
    width: 530px;
    position: relative;
    top: 0px;
    -webkit-transition: all 1s ease-in-out 0.3s;
    transition: all 1s ease-in-out 0.3s;
}
#form_wrap:before {
    content: "";
    position: absolute;
    bottom: 128px;
    left: 0px;
    background: url(../img/images/before.png);
    width: 530px;
    height: 316px;
}
#form_wrap:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    background: url(../img/images/after.png);
    width: 530px;
    height: 260px;
}
#form_wrap.hide:after,
#form_wrap.hide:before {
    display: none;
}
#form_wrap:hover, #form_wrap:focus {
    height: 776px;
    top: -200px;
}
form {
    background: #f7f2ec url(../img/images/letter_bg.png);
    position: relative;
    top: 200px;
    overflow: hidden;
    height: 200px;
    width: 400px;
    margin: 0 auto;
    padding: 1.25rem;
    border: 1px solid #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
    -moz-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 14px #fff;
    -webkit-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
    -webkit-transition: all 1s ease-in-out 0.3s;
    transition: all 1s ease-in-out 0.3s;
}
#form_wrap:hover form, #form_wrap:focus form {
    height: 530px;
}
label {
    margin: 0.6875rem 1.25rem 0 0;
    font-size: 1rem;
    color: #b3aba1;
    text-transform: uppercase;
    text-shadow: 0px 1px 0px #fff;
    display: block;
}
input[type=text],
textarea {
    font: 0.875rem normal normal uppercase helvetica, arial, serif;
    color: #7c7873;
    background: none;
    width: 380px;
    height: 36px;
    padding: 0 0.625rem;
    margin: 0 0 0.625rem;
    border: 1px solid #f8f5f1;
    -webkit-box-shadow: inset 0px 0px 1px #b3a895;
    box-shadow: inset 0px 0px 1px #b3a895;
}
textarea {
    height: 80px;
    padding-top: 14px;
}
textarea:focus,
input[type=text]:focus {
    background: rgba(255,255,255,0.35);
    outline: none;
}
#form_wrap input[type=submit] {
    position: relative;
    font-family: 'YanoneKaffeesatzRegular';
    font-size: 1.5rem;
    color: #7c7873;
    text-shadow: 0 1px 0 #fff;
    width: 100%;
    text-align: center;
    opacity: 0;
    background: none;
    cursor: pointer;
    border-radius: 3px;
    -webkit-transition: opacity 0.6s ease-in-out 0s;
    transition: opacity 0.6s ease-in-out 0s;
    border: none;
}
#form_wrap:hover input[type=submit], #form_wrap:focus input[type=submit] {
    z-index: 1;
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in-out 1.3s;
    transition: opacity 0.5s ease-in-out 1.3s;
}
#form_wrap:hover input:hover[type=submit], #form_wrap:focus input:focus[type=submit] {
    color: #435c70;
}
.loading-container .loading-bar {
    margin-bottom: 40px;
}
.loading-bar {
    width: 250px;
    margin: 0 auto;
    height: 30px;
    background-color: #282f32;
    padding: 0.25rem 0.3125rem;
    -webkit-box-shadow: inset 3px 0px 10px rgba(0,0,0,0.1);
    box-shadow: inset 3px 0px 10px rgba(0,0,0,0.1);
}
.amount {
    /* we haven't included the colour yet, we'll get to that later. */
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    margin-top: -9px;
}
.skills .skill {
    margin-left: 10px;
    margin-right: 10px;
    -webkit-box-shadow: 1px 2px 3px 0px rgba(50,50,50,0.75);
    box-shadow: 1px 2px 3px 0px rgba(50,50,50,0.75);
}
.skill:nth-child(1) .amount {
    background-color: #8ac320;
    -webkit-box-shadow: inset 0px 4px 40px rgba(255,255,255,0.2), 0 10px 10px -5px #79aa1e, 0 7px 0 #628c14;
    box-shadow: inset 0px 4px 40px rgba(255,255,255,0.2), 0 10px 10px -5px #79aa1e, 0 7px 0 #628c14;
}
.skill:nth-child(2) .amount {
    background-color: #20b9c3;
    -webkit-box-shadow: inset 0px 4px 40px rgba(255,255,255,0.2), 0 10px 10px -5px #1e8aaa, 0 7px 0 #13768c;
    box-shadow: inset 0px 4px 40px rgba(255,255,255,0.2), 0 10px 10px -5px #1e8aaa, 0 7px 0 #13768c;
}
.skill:nth-child(3) .amount {
    background-color: #dc6565;
    -webkit-box-shadow: inset 0px 4px 40px rgba(255,255,255,0.2), 0 10px 10px -5px #d23333, 0 7px 0 #8c1212;
    box-shadow: inset 0px 4px 40px rgba(255,255,255,0.2), 0 10px 10px -5px #d23333, 0 7px 0 #8c1212;
}
.skill:nth-child(4) .amount {
    background-color: #372db4;
    -webkit-box-shadow: inset 0px 4px 40px rgba(255,255,255,0.2), 0 10px 10px -5px #372db4, 0 7px 0 #372db4;
    box-shadow: inset 0px 4px 40px rgba(255,255,255,0.2), 0 10px 10px -5px #372db4, 0 7px 0 #372db4;
}
.lines {
    /* the lines overflow the container. This creates a continuous flow of the background */
    width: 400px;
    /* We use a SVG file as the background */
    background: url(../img/img/lines.svg) repeat-x;
    height: 120%;
    text-align: center;
    margin-top: -35px;
    /* Any overflow is hidden */
    overflow: hidden;
    border-radius: 50px;
    /* Implement the animations, we'll get to that later */
    -webkit-animation: moveBars 2s linear infinite;
    animation: moveBars 2s linear infinite;
    font-weight: bold;
    color: #fff;
    color: 1px;
    font-size: 1.125rem;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}
.loaded {
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    top: 3px;
    font-size: 1.375rem;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    color: #fff;
}
        /* ANIMATIONS */
        .reveal.cd-intro-content h1 {
            position: relative;
            /* overwrite default style */
            opacity: 1;
            font-weight: 700;
            /* <h1> text is not visible - it is used only as a container for the ::after element */
            color: transparent;
            overflow: hidden;
        }
        .reveal.cd-intro-content h1::after {
            /* this is the animated text */
            content: attr(data-content);
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            color: #fff;
            opacity: 0;
            -webkit-animation-name: cd-reveal-up;
            animation-name: cd-reveal-up;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
        }
        .no-cssanimations .reveal.cd-intro-content h1::after {
            opacity: 1;
        }
        @media only screen and (min-width: 768px) {
            .reveal.cd-intro-content h1 {
                -webkit-transform: translateY(5px);
                transform: translateY(5px);
            }
        }
        .reveal.cd-intro-content p {
            position: relative;
            margin: 0;
            padding: 1em;
            -webkit-animation-name: cd-reveal-down;
            animation-name: cd-reveal-down;
        }
        @media only screen and (min-width: 1170px) {
            .reveal.cd-intro-content p {
                padding: 1em 1.6em;
            }
        }
        .reveal.cd-intro-content h1::after,
        .reveal.cd-intro-content p {
            -webkit-animation-duration: 0.4s;
            animation-duration: 0.4s;
            -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
        }
        .reveal.cd-intro-content .action-wrapper {
            position: relative;
            overflow: hidden;
        }
        .reveal.cd-intro-content .action-wrapper::before {
            /* this is the loading bar */
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 3px;
            width: 100%;
            background-color: #202e4a;
            -webkit-animation: cd-loading 0.4s 0.3s backwards;
            animation: cd-loading 0.4s 0.3s backwards;
        }
        .reveal.cd-intro-content .action-wrapper .cd-btn {
            display: block;
            opacity: 1;
            max-width: 200px;
            margin: 1em auto 0;
        }
        @media only screen and (min-width: 768px) {
            .reveal.cd-intro-content .action-wrapper .cd-btn {
                display: inline-block;
                margin: 0 0 0 1em;
            }
        }
        @-webkit-keyframes cd-reveal-up {
            0% {
                opacity: 1;
                -webkit-transform: translateY(100%);
            }
            100% {
                opacity: 1;
                -webkit-transform: translateY(0);
            }
        }
        @-webkit-keyframes cd-reveal-down {
            0% {
                opacity: 1;
                -webkit-transform: translateY(-100%);
            }
            100% {
                opacity: 1;
                -webkit-transform: translateY(0);
            }
        }
        @-webkit-keyframes cd-loading {
            0% {
                -webkit-transform: scaleX(0);
            }
            100% {
                -webkit-transform: scaleX(1);
            }
        }
        .mask-2.cd-intro-content * {
            /* overwrite default style */
            opacity: 1;
        }
        .mask-2.cd-intro-content .content-wrapper {
            position: relative;
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            padding: 2em 0;
            overflow: hidden;
        }
        .mask-2.cd-intro-content .content-wrapper::before {
            /* vertical bar */
            content: '';
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            height: 100%;
            width: 2px;
            background-color: #fff;
            -webkit-animation: cd-pulse 1.3s 0.3s both;
            animation: cd-pulse 1.3s 0.3s both;
        }
        .no-cssanimations .mask-2.cd-intro-content .content-wrapper::before {
            opacity: 0;
        }
        .mask-2.cd-intro-content .content-wrapper > div {
            /* wrap the entire content */
            position: relative;
            z-index: 1;
        }
        .mask-2.cd-intro-content .content-wrapper,
        .mask-2.cd-intro-content .content-wrapper > div {
            -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
            -webkit-animation-delay: 1.1s;
            animation-delay: 1.1s;
            -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
        }
        .mask-2.cd-intro-content .content-wrapper {
            -webkit-animation-name: cd-mask-wrapper;
            animation-name: cd-mask-wrapper;
        }
        .mask-2.cd-intro-content .content-wrapper > div {
            -webkit-animation-name: cd-mask-content;
            animation-name: cd-mask-content;
        }
        @-webkit-keyframes cd-mask-wrapper {
            0% {
                -webkit-transform: translateX(50%);
            }
            100% {
                -webkit-transform: translateX(0);
            }
        }
        @-webkit-keyframes cd-mask-content {
            0% {
                -webkit-transform: translateX(-100%);
            }
            100% {
                -webkit-transform: translateX(0);
            }
        }
        .panel {
            min-width: calc(100% - 160px);
            height: 100%;
            right: 0;
            overflow-y: auto;
            overflow-x: hidden;
            margin-top: -250%;
            position: absolute;
            background: #fff;
            -webkit-box-shadow: 0px 4px 7px rgba(0,0,0,0.6);
            box-shadow: 0px 4px 7px rgba(0,0,0,0.6);
            -webkit-transition: all 0.8s ease-in-out;
            transition: all 0.8s ease-in-out;
            will-change: top;
            z-index: 1;
            margin-left: 260px;
        }
        .panel:target {
            margin-top: 0%;
        }
        .contact-area {
            width: 100%;
            height: 100vh;
            position: relative;
        }
        .contact {
            position: relative;
            max-width: 400px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        .contact .main-card {
            float: left;
            width: 100%;
            position: relative;
        }
        .contact .main-card section {
            float: left;
            width: 100%;
            background-color: #372db4;
        }
        .contact .main-card section .content {
            float: left;
            width: 100%;
            padding: 1.25rem 1.875rem;
            position: relative;
            text-align: center;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        @media (min-width: 414px) {
            .contact .main-card section .content {
                text-align: left;
            }
        }
        .contact .main-card section .content .aside-card {
            float: left;
            width: 100%;
            color: #fff;
            padding: 0.625rem 0;
            text-align: center;
        }
        .contact .main-card section .content .aside-card h1 {
            font-weight: 100;
            font-size: 1.375rem;
        }
        .contact .main-card section .content .aside-card p {
            font-size: 0.875rem;
            letter-spacing: 0.03125rem;
            line-height: 160%;
        }
        .contact .main-card .title {
            float: left;
            width: 100%;
            background-color: #4e43d2;
            max-height: 0px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            overflow: hidden;
            -webkit-transition: all 0.55s;
            transition: all 0.55s;
        }
        .contact .main-card .title.active {
            max-height: 100px;
            -webkit-transition: all 1.3s;
            transition: all 1.3s;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        .contact .main-card .title.active p {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
        }
        .contact .main-card .title p {
            padding: 0.9375rem 1.875rem;
            color: #fff;
            font-size: 1rem;
            display: inline-block;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 0.03125rem;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            -webkit-transform: scale(0);
            transform: scale(0);
        }
        .contact .main-card button {
            position: absolute;
            bottom: 0;
            right: 50%;
            background-color: #ffbe44;
            color: #c63535;
            border: 0;
            width: 200px;
            height: 38px;
            text-align: center;
            border-radius: 30px;
            font-size: 1rem;
            letter-spacing: 0.03125rem;
            text-transform: uppercase;
            margin-bottom: -24px;
            margin-right: -100px;
            -webkit-transition: all 0.4s;
            transition: all 0.4s;
            -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
            outline: none;
            overflow: hidden;
            z-index: 10;
            font-family: inherit;
        }
        .contact .main-card button span {
            opacity: 1;
            -webkit-transition: opacity 0.2s;
            transition: opacity 0.2s;
            -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
            display: block;
            width: 200px;
            float: left;
        }
        .contact .main-card button svg {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            opacity: 0;
            -webkit-transition: all 0.4s;
            transition: all 0.4s;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        .contact .main-card button svg path {
            fill: #c63535;
        }
        .contact .main-card button.active {
            margin-right: 0;
            right: 20px;
            width: 55px;
            height: 55px;
            margin-bottom: -30px;
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
            border-radius: 65px;
            -webkit-box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
            box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
        }
        .contact .main-card button.active span {
            opacity: 0;
            -webkit-transition-delay: 0s;
            transition-delay: 0s;
            width: 200px;
        }
        .contact .main-card button.active svg {
            opacity: 1;
            -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
        }
        .contact .nav-card {
            width: 100%;
            overflow: hidden;
            max-height: 0px;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
        }
        .contact .nav-card.active {
            max-height: 600px;
            -webkit-transition: all 1s;
            transition: all 1s;
        }
        .contact .nav-card.active a {
            opacity: 1;
            -webkit-transform: translateY(0px);
            transform: translateY(0px);
            -webkit-transition: all 0.7s;
            transition: all 0.7s;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            border: 1px solid rgba(73,63,200,0.19);
        }
        .contact .nav-card.active a:nth-of-type(1) {
            -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
        }
        .contact .nav-card.active a:nth-of-type(2) {
            -webkit-transition-delay: 0.7s;
            transition-delay: 0.7s;
        }
        .contact .nav-card.active a:nth-of-type(3) {
            -webkit-transition-delay: 0.9s;
            transition-delay: 0.9s;
        }
        .contact .nav-card.active a:nth-of-type(4) {
            -webkit-transition-delay: 1.1s;
            transition-delay: 1.1s;
        }
        .contact .nav-card.active a:nth-of-type(5) {
            -webkit-transition-delay: 1.3s;
            transition-delay: 1.3s;
        }
        .contact .nav-card.active a:nth-of-type(6) {
            -webkit-transition-delay: 1.5s;
            transition-delay: 1.5s;
        }
        .contact .nav-card a {
            width: 100%;
            margin-top: 18px;
            background-color: #fff;
            text-decoration: none;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            opacity: 0;
            -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }
        @media (min-width: 414px) {
            .contact .nav-card a {
                padding: 0.875rem 1.875rem;
            }
        }
        .contact .nav-card a .arrow {
            position: absolute;
            right: 15px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        .contact .nav-card a .arrow path {
            fill: #e6e6e6;
        }
        .icons {
            margin-right: 20px;
        }
        .icon img {
            width: 50px;
        }
        .contact .nav-card a.gmail .icon svg {
            padding: 0;
        }
        .contact .nav-card a.gmail .content h1 {
            color: #d14836;
        }
        .contact .nav-card a.facebook .icon svg {
            background-color: #24292e;
            padding: 0.625rem;
        }
        .contact .nav-card a.facebook .content h1 {
            color: #24292e;
        }
        .contact .nav-card a.twitter .icon {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            color: #fff;
            font-weight: 800;
            background: #424b5f;
            font-size: 1.5625rem;
        }
        .contact .nav-card a.twitter .content h1 {
            color: #424b5f;
        }
        .contact .nav-card a .icon {
            float: left;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 20px;
        }
        .contact .nav-card a .icon svg {
            width: 100%;
            height: 100%;
            padding: 0.875rem;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        .contact .nav-card a .icon svg path {
            fill: #fff;
        }
        .contact .nav-card a .content h1 {
            font-size: 1.25rem;
            font-weight: 400;
            line-height: 160%;
            letter-spacing: 0.025rem;
        }
        .contact .nav-card a .content span {
            font-size: 0.875rem;
            color: #b3b3b3;
            display: block;
            letter-spacing: 0.025rem;
        }
        body {
            display: -ms-flex;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            overflow-x: hidden;
            font-family: 'Ubuntu', sans-serif;
        }
        ol li {
            color: #5a5a5a;
        }
        .wrapper {
            max-width: 1400px;
            margin: 9.375rem auto;
            text-align: center;
        }
        aside {
            width: 160px;
            height: 94vh;
            margin-top: 60px;
            background: #372db4;
            position: fixed;
            top: 0;
            left: 0;
            -webkit-box-shadow: 0 6px 20px rgba(0,0,0,0.15);
            box-shadow: 0 6px 20px rgba(0,0,0,0.15);
            z-index: 2;
        }
        .cd-intro-content {
            margin-left: 260px;
        }
        .burger {
            height: 60px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
            width: 160px;
            background: #372db4;
            cursor: pointer;
            z-index: 2;
        }
        .burger i {
            color: #fff;
            font-size: 1.25rem;
        }
        .avatar {
            height: 140px;
            background: #fff;
            position: relative;
            z-index: 11;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }
        .avatar .ava {
            background: url(../img/img/vL1ng-ojrIc.jpg);
            width: 120px;
            height: 120px;
            background-size: cover;
        }
        .name {
            height: 40px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            background: #fff;
            font-family: 'Lora', serif;
            font-size: 1rem;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .nav_item {
            width: 100%;
            height: 100px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            border-bottom: 1px solid #493fc8;
        }
        .nav_item:hover, .nav_item:focus {
            background-color: #493fc8;
        }
        .nav_item:hover i, .nav_item:focus i {
            color: #fff;
        }
        .nav_item:hover span, .nav_item:focus span {
            color: #fff;
        }
        .nav_item span {
            color: rgba(255,255,255,0.65);
            font-family: 'Ubuntu', sans-serif;
            font-size: 0.875rem;
            letter-spacing: 0.06875rem;
            font-weight: 400;
            line-height: 2.1875rem;
            text-transform: uppercase;
        }
        .nav_item i {
            font-size: 1.5625rem;
            color: rgba(255,255,255,0.65);
        }
        main {
            width: 100%;
        }
        .main {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            min-width: calc(100% - 160px);
            height: 100vh;
            background: url(../img/img/1.jpg);
            background-size: cover;
        }
        .main_text {
            display: -ms-flex;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
        }
        .main_text h1 {
            opacity: 0.2 !important;
            color: #35373e;
            font-family: 'Ubuntu', sans-serif;
            font-weight: 400;
            line-height: 15.175rem;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            color: #fff;
            font-size: 5.625rem;
        }
        @media (min-width:480px) and (max-width:1280px) {
            .main_text h1 {
                font-size: calc(5.625rem + (200 - 90) * ( (100vw - 30rem) / ( 1280 - 480)));
            }
        }
        .main_text span {
            color: #35373e;
            font-family: 'Lora', serif;
            font-weight: 700;
            line-height: 3.3rem;
            text-transform: uppercase;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            color: #fff;
            text-shadow: 1px 1px #372db4, 1px -1px #372db4, -1px 1px #372db4, -1px -1px #372db4, 3px 3px 6px rgba(0,0,0,0.5);
            font-size: 1.5625rem;
        }
        @media (min-width:480px) {
            .main_text span {
                font-size: 3.125rem;
            }
        }
        @media (min-width:480px) and (max-width:1280px) {
            .main_text span {
                font-size: calc(1.5625rem + (50 - 25) * ( (100vw - 30rem) / ( 1280 - 480)));
            }
        }
        .social {
            width: 100%;
            display: -ms-flex;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: distribute;
            justify-content: space-around;
            position: absolute;
            bottom: 30px;
        }
        .social i {
            color: rgba(255,255,255,0.65);
            font-size: 1.5625rem;
        }
        .social i:hover, .social i:focus {
            color: #fff;
        }
        .about h2 {
            color: #000;
            font-family: 'Ubuntu', sans-serif;
            font-size: 1.5rem;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.075rem;
        }
        .about h3 {
            margin: 1.25rem 0;
            color: #a8a8a8;
            font-family: 'Ubuntu', sans-serif;
            font-size: 1rem;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
        }
        .line {
            width: 100%;
            height: 12px;
            background: url(../img/img/line.png) no-repeat center;
            margin: 1.875rem 0;
        }
        .about_wrap {
            display: -ms-flex;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
            margin-top: 40px;
            text-align: left;
        }
        .about_wrap span {
            color: #5a5a5a;
            font-family: 'Ubuntu', sans-serif;
            font-size: 0.9375rem;
            font-weight: 300;
            line-height: 1.625rem;
        }
        .img-and-cont img {
            max-width: 350px;
        }
        .about_text {
            margin-left: 20px;
        }
        .intend_text span {
            margin-bottom: 10px;
            display: block;
        }
        .about_brif {
            display: -ms-flex;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin-bottom: 20px;
        }
        .about_brif-left {
            margin-right: 150px;
        }
        .brif-item {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }
        .brif-item h5 {
            margin-right: 5px;
            color: #35373e;
            font-size: 0.9375rem;
            font-family: 'Ubuntu', sans-serif;
            font-weight: 700;
        }
        .portfolios {
            min-height: 101vh;
        }
        .portfolio-filter {
            display: -ms-flex;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }
        .portfolio-filter .filter_item {
            margin: 0 0.625rem;
            color: #7d7d7d;
            font-family: 'Ubuntu', sans-serif;
            font-size: 0.8125rem;
            font-weight: 300;
            text-transform: uppercase;
            cursor: pointer;
            padding: 0.9375rem;
        }
        .portfolio-filter .mixitup-control-active {
            border: 1px solid #35373e;
            color: #35373e !important;
        }
        .portfolio_works {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
            grid-gap: 25px;
            margin-top: 30px;
        }
        .work {
            height: 360px;
            background-color: #a1a1a1;
            position: relative;
            overflow: hidden;
            background-size: cover !important;
            display: block;
        }
        .work .github {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 45px;
            z-index: 1;
            opacity: 0.7;
        }
        .work .cover {
            width: 100%;
            height: 100%;
            -webkit-transition: 0.5s;
            transition: 0.5s;
        }
        .work:hover .work_text, .work:focus .work_text {
            top: 50%;
        }
        .work:hover .cover, .work:focus .cover {
            background: rgba(0,0,0,0.6);
        }
        .work:hover h4, .work:focus h4 {
            background: none;
        }
        .work:hover .github, .work:focus .github {
            opacity: 1;
        }
        .work h4 {
            color: #fff;
            font-family: 'Ubuntu', sans-serif;
            font-size: 1.125rem;
            font-weight: 400;
            margin-bottom: 30px;
            text-transform: uppercase;
            letter-spacing: 0.0875rem;
            width: 100%;
            display: block;
            background: rgba(0,0,0,0.6);
            height: 50px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-transition: 0.5s;
            transition: 0.5s;
        }
        .work span {
            color: #fff;
            font-family: 'Ubuntu', sans-serif;
            font-size: 0.9375rem;
            font-weight: 300;
            margin-bottom: 50px;
            display: block;
            padding: 0 1.25rem;
            line-height: 1.4;
        }
        .work_text {
            position: absolute;
            top: 415px;
            height: 210px;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            width: 100%;
            -webkit-transition: top 0.5s;
            transition: top 0.5s;
        }
        .technology {
            padding: 0 1.25rem;
        }
        .technology_item {
            display: inline-block;
            padding: 0.5rem 0.8125rem;
            color: #fff;
            font-size: 1rem;
            margin: 0.1875rem 0.1875rem 0.625rem;
            text-transform: uppercase;
        }
        .html {
            background: #ff6949;
        }
        .jquery {
            background: #006ab1;
        }
        .bootstrap {
            background: #68429a;
        }
        .wordpress {
            background: #42a5f5;
        }
        .php {
            background: #1ac6ff;
        }
        .javascript {
            background: #00dcdc;
        }
        .node {
            background: #026e00;
        }
        .react {
            background: #00a79b;
        }
        .vue {
            background: #5ec295;
        }
        .work_map {
            background: url(../img/img/portfolio/map.png) center;
        }
        .work_prim {
            background: url(../img/img/portfolio/prim.png) center;
        }
        .work_self {
            background: url(../img/img/portfolio/self.png) center;
        }
        .work_weather {
            background: url(../img/img/portfolio/weather.jpg) center;
        }
        .work_pasta {
            background: url(../img/img/portfolio/people_pasta.png) center;
        }
        .work_check {
            background: url(../img/img/portfolio/todo.jpg) center;
        }
        .work_zenit {
            background: url(../img/img/portfolio/zenit.jpg) center;
        }
        .work_news {
            background: url(../img/img/portfolio/astral.jpg) center;
        }
        .work_online {
            background: url(../img/img/portfolio/astral.jpg) center;
        }
        .work_shop {
            background: url(../img/img/portfolio/astral.jpg) center;
        }
        .work_acrostia {
            background: url(../img/img/portfolio/acrostia.png) center;
        }
        .work_quiz_vue {
            background: url(../img/img/portfolio/quiz-vue.png) center;
        }
        .work_kaliaev_life {
            background: url(../img/img/portfolio/kaliaev.jpg) center;
        }
        .skills {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
            grid-gap: 25px;
            margin-bottom: 70px;
            margin-top: 50px;
        }
        .skills .skill {
            height: 250px;
            -webkit-box-shadow: 4px 4px 10px 0px rgba(50,50,50,0.75);
            box-shadow: 4px 4px 10px 0px rgba(50,50,50,0.75);
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }
        .skills .skill img {
            height: 80px;
        }
        @media (max-width: 1050px) {
            .about_wrap {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
            }
            .about_wrap .about_brif {
                -webkit-box-pack: start;
                -ms-flex-pack: start;
                justify-content: flex-start;
            }
            .about_wrap img {
                margin-bottom: 20px;
            }
            .about_wrap .contact {
                display: none;
            }
        }
        @-webkit-keyframes moveBars {
            100% {
                margin-left: -180px;
            }
        }
        @keyframes moveBars {
            100% {
                margin-left: -180px;
            }
        }
        @-webkit-keyframes cd-reveal-up {
            0% {
                opacity: 1;
                -webkit-transform: translateY(100%);
                transform: translateY(100%);
            }
            100% {
                opacity: 1;
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }
        }
        @keyframes cd-reveal-up {
            0% {
                opacity: 1;
                -webkit-transform: translateY(100%);
                transform: translateY(100%);
            }
            100% {
                opacity: 1;
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }
        }
        @-webkit-keyframes cd-reveal-down {
            0% {
                opacity: 1;
                -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
            }
            100% {
                opacity: 1;
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }
        }
        @keyframes cd-reveal-down {
            0% {
                opacity: 1;
                -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
            }
            100% {
                opacity: 1;
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }
        }
        @-webkit-keyframes cd-loading {
            0% {
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
            }
            100% {
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
            }
        }
        @keyframes cd-loading {
            0% {
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
            }
            100% {
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
            }
        }
        @-webkit-keyframes cd-mask-wrapper {
            0% {
                -webkit-transform: translateX(50%);
                transform: translateX(50%);
            }
            100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }
        }
        @keyframes cd-mask-wrapper {
            0% {
                -webkit-transform: translateX(50%);
                transform: translateX(50%);
            }
            100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }
        }
        @-webkit-keyframes cd-mask-content {
            0% {
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
            }
            100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }
        }
        @keyframes cd-mask-content {
            0% {
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
            }
            100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }
        }
        @-webkit-keyframes cd-pulse {
            0%, 30.8% {
                opacity: 0;
            }
            15.4%, 46.2%, 61.5%, 70% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }
        @keyframes cd-pulse {
            0%, 30.8% {
                opacity: 0;
            }
            15.4%, 46.2%, 61.5%, 70% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }
