/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-avocode {
  background-image: url(../img/sprite.png);
  background-position: -170px -164px;
  width: 80px;
  height: 80px;
}
.icon-bitrix {
  background-image: url(../img/sprite.png);
  background-position: -90px -164px;
  width: 80px;
  height: 80px;
}
.icon-git {
  background-image: url(../img/sprite.png);
  background-position: -160px -245px;
  width: 80px;
  height: 80px;
}
.icon-gulp {
  background-image: url(../img/sprite.png);
  background-position: -250px -89px;
  width: 80px;
  height: 88px;
}
.icon-html {
  background-image: url(../img/sprite.png);
  background-position: -250px 0px;
  width: 80px;
  height: 89px;
}
.icon-jquery {
  background-image: url(../img/sprite.png);
  background-position: 0px -245px;
  width: 80px;
  height: 80px;
}
.icon-js {
  background-image: url(../img/sprite.png);
  background-position: -80px -245px;
  width: 80px;
  height: 80px;
}
.icon-less {
  background-image: url(../img/sprite.png);
  background-position: 0px -81px;
  width: 100px;
  height: 83px;
}
.icon-native {
  background-image: url(../img/sprite.png);
  background-position: -410px 0px;
  width: 52px;
  height: 100px;
}
.icon-opencart {
  background-image: url(../img/sprite.png);
  background-position: -150px -78px;
  width: 100px;
  height: 76px;
}
.icon-php {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 150px;
  height: 81px;
}
.icon-pug {
  background-image: url(../img/sprite.png);
  background-position: -150px 0px;
  width: 100px;
  height: 78px;
}
.icon-react {
  background-image: url(../img/sprite.png);
  background-position: 0px -164px;
  width: 90px;
  height: 81px;
}
.icon-stylus {
  background-image: url(../img/sprite.png);
  background-position: -330px -158px;
  width: 80px;
  height: 75px;
}
.icon-webpack {
  background-image: url(../img/sprite.png);
  background-position: -240px -245px;
  width: 80px;
  height: 80px;
}
.icon-wordpress {
  background-image: url(../img/sprite.png);
  background-position: -330px 0px;
  width: 80px;
  height: 79px;
}
.icon-xd {
  background-image: url(../img/sprite.png);
  background-position: -330px -79px;
  width: 80px;
  height: 79px;
}
