* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
}

header {
    background: url('../img/header.png') no-repeat center;
    background-size: cover;
    height: 800px;
}

a {
    text-decoration: none;
}

h1 {
    max-width: 850px;
}

.header-nav {
    background: white;
    min-height: 125px;
    position: fixed;
    width: 100%;
    z-index: 1000
}

.header-nav .wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 125px;
}

nav {
    -ms-flex-preferred-size: 650px;
    flex-basis: 650px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-order: 0;
    order: 0;
    margin-top: 20px;
}

.nav-item {
    font-family: Arial;
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    display: block;
    height: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 40px;
}

.logo-two,
.logo-one {
    display: block;
}

.logo-one {
    margin-bottom: 40px;
    margin-top: 20px;
}

.nav-item__active {
    background-color: #008c99;
    height: 40px;
    color: #fff;
    border-radius: 30px;
    margin-left: 40px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 11px;
}

.nav-item__active:hover {
    color: #fff !important;
    background-color: #017681;
}

.header-main .wrapper {
    height: 575px;
}

.header-main__text {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header-main__text h1 {
    font: 700 27px/35px Arial, sans-serif;
    ;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.header-main__text span {
    font: 400 14px/30px Arial, sans-serif;
    margin: auto;
    margin-bottom: 40px;
    display: block;
    max-width: 800px;
}

.header-main__text .btn {
    width: 280px;
    height: 73px;
    margin: auto;
    font-size: 14px;
    font-weight: 700;
    line-height: 47px;
    text-transform: uppercase;
}

.btn {
    font-size: 13px !important;
}

.btn-active {
    background-color: #ff7e00;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    transition: 0.5s;
}

.btn-active:hover {
    background-color: #d86d05;
}

.what_should_do {
    padding-top: 60px;
}

h2 {
    font: 700 22px Arial, sans-serif;
    ;
    color: #5e5e5e;
    text-transform: uppercase;
    text-align: center;
}

.what_should_do__wrap {
    display: -ms-flexbox;
    display: flex;
    margin-top: 80px;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.what_should_do__wrap ul {
    margin-top: 0;
}

.what_should_do__wrap .list-li {
    background: #fff;
    box-shadow: 0 0 24px rgba(71, 140, 225, 0.08);
    min-height: 55px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px 50px;
}

.what_should_do__wrap .list-li li {
    color: #008c99;
    font-size: 25px;
}

.what_should_do__wrap .list-li span {
    font: 400 14px Arial, sans-serif;
    color: #000;
    width: 100%;
}

.red-long {
    font: 400 16px/25px Arial, sans-serif;
    ;
    background-color: #f8f8f8;
    min-height: 120px;
    margin: 50px 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.red-long span {
    color: #3e3d3d;
    font-size: 15px;
    font-weight: 400;
    max-width: 770px;
    line-height: 25px;
}

.zaiavka {
    background-color: #008c99;
    padding: 50px 0;
}

.zaiavka h2 {
    color: #fff;
}

.zaiavka .btn {
    width: 202px;
    height: 60px;
}

.preim-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 80px 0;
}

.preim {
    box-sizing: border-box;
    margin-left: 50px;
    margin-right: 50px;
    word-wrap: break-word;
    max-width: 300px;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    margin-top: 0;
    font-size: 15px;
}

.preim img {
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
}

.preim span {
    max-width: 300px;
    margin: 0 auto;
    line-height: 26px;
}

.two-btns {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: uppercase;
}

.btn-empt {
    border: 2px solid #fff;
    color: #fff;
    margin-left: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    box-sizing: border-box;
    transition: 0.5s;
}

.complex {
    background: #f8f8f8;
    padding: 40px 0;
}

.sertif-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    margin: 80px 0;
    -ms-flex-pack: center;
    justify-content: center;
}

.sertif {
    font: 400 15px/26px Arial, sans-serif;
    ;
    box-sizing: border-box;
    margin-left: 5px;
    margin-right: 5px;
    word-wrap: break-word;
    width: calc(25% - 10px);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    color: #292828;
    text-align: center;
    margin-top: 0;
}

.sertif span {
    color: #292828;
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    max-width: 230px;
}

.sertif img {
    width: 64px;
    height: 64px;
    margin-bottom: 20px;
}

.pics-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    -ms-flex-pack: center;
    justify-content: center;
}

.pics {
    background: #fff;
    box-sizing: border-box;
    margin-left: 5px;
    margin-right: 5px;
    word-wrap: break-word;
    text-align: justify;
    width: calc(33% - 30px);
    margin: 0 15px;
    box-shadow: 0 0 24px rgba(71, 140, 225, 0.07);
}

.pics img {
    width: 100%;
}

.pics span {
    display: block;
    padding: 30px;
    text-align: left;
    color: #141414;
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
}

.price {
    padding: 40px 0;
}

.price .btn {
    width: 250px;
    height: 59px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.price .btn-empt-black {
    border: 2px solid #222;
    color: #000;
    margin-left: 20px;
}

.price .two-btns {
    margin: 50px 0;
}

.price__text {
    text-align: center;
}

.price__text h2 {
    margin-bottom: 20px;
}

.price__text span {
    font: 400 14px/25px Arial, sans-serif;
    display: block;
    color: #646464;
}

.link span {
    max-width: 250px;
}

.price-wrapper {
    background: #fff;
    margin-top: 80px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.dif-price {
    width: 390px;
    transition: 0.5s;
    position: relative;
    background: white;
    will-change: transform;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 550ms;
}

.red-inf {
    position: absolute;
    top: 530px;
    left: -260px;
    display: none;
    z-index: 8;
}

.red-inf__item {
    background-color: #fc1921;
    height: 30px;
    margin-bottom: 1px;
    color: aliceblue;
    padding: 0 10px;
    font-size: 15px;
    line-height: 25px;
}

.dif-price-wrap {
    border: 1px solid #e9e9e9;
    position: relative;
}

.dif-price-wrap img {
    height: 250px;
}

.dif-price:hover .red-inf {
    display: block;
}

.dif-price:hover .select-price {
    visibility: visible
}

.dif-header {
    font: 700 16px/25px Arial, sans-serif;
    ;
    height: 95px;
    padding: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    color: #008c99;
    text-align: center;
    flex-direction: column;
}

.liner {
    border-bottom: 1px solid #e9e9e9;
    margin: 10px 0;
    margin-left: -20px;
}

.dif-header h4 {
    margin: 2px 0;
    font-family: Arial;
    font-size: 16px;
    font-weight: 700;
    color: #008c99;
    line-height: 25px;
    max-width: 320px;
}

.dif-header h4+h4 {
    color: #ff7e00;
}

.dif-header h3 {
    margin: 0;
}

.dif-list {
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #e9e9e9;
    line-height: 1.5;
    height: 390px;
    padding: 0 20px;
}

.blacker {
    color: #292929 !important;
    font-family: Arial;
    font-size: 13px;
    font-weight: 700 !important;
    line-height: 23px;
}

.dif-list ul {
    font: 400 14px/25px Arial, sans-serif;
    ;
    padding-left: 20px;
    color: #636363;
}

.dif-list li {
    color: #de0009;
}

.dif-list span {
    color: #636363;
    font-family: Arial;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}

.dif-packet {
    font: 400 13px/19px Arial, sans-serif;
    ;
    height: 80px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    color: #636363;
    border-bottom: 1px solid #e9e9e9;
}

.dif-packet span {
    display: block;
}

.dif-catirovk {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100px;
}

.dif-catirovk span {
    font: 400 15px/19px Arial, sans-serif;
    ;
    color: #3a3a3a;
    display: block;
    margin-bottom: 5px;
}

.dif-catirovk h4 {
    font: 700 15px/19px Arial, sans-serif;
    ;
    color: #3a3a3a;
    margin-bottom: 5px;
}

.btnk {
    width: 250px;
    height: 59px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.order {
    font: 700 13px/25px Arial, sans-serif;
    background-color: #ff7e00;
    height: 60px;
    width: 100% !important;
    display: block;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.order:hover {
    color: white;
    text-decoration: none;
}

.select-price {
    visibility: hidden;
}

.dif-check {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 50px;
}

.dif-check input {
    width: 20px;
    height: 20px;
}

.dif-price:hover,
.dif-price:focus {
    margin: -30px 0;
}

.preim__img {
    width: 90px;
    height: 90px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 20px;
}

.preim__img img {
    margin: 0;
}

.dif-price:hover .red-inf {
    display: block;
}

.check-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 40px;
}

.check-box {
    font: 400 14px Arial, sans-serif;
    box-sizing: border-box;
    margin-left: 5px;
    margin-right: 5px;
    word-wrap: break-word;
    width: calc(18.666666666666668% - 10px);
    color: #5e5e5e;
    padding: 0 20px;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.check-box span {
    color: #5e5e5e;
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.check-box img {
    margin-left: -20px;
}

.dotteds {
    height: 10px;
    width: 70%;
    top: 70px;
    position: absolute;
    z-index: -1;
    left: 160px;
}

.link-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    margin: 50px 0;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.link {
    box-sizing: border-box;
    margin-left: 5px;
    margin-right: 5px;
    word-wrap: break-word;
    width: calc(25% - 10px);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #646464;
    font-size: 14px;
    font-weight: 400;
    font-size: 15px;
}

.link img {
    
}

.question {
    background: url('../img/bgf.png') no-repeat;
    background-size: cover;
    padding: 40px 0;
}

.question-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 50px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.one-side {
    width: 49%;
    -ms-flex-preferred-size: 600px;
    flex-basis: 600px;
}

.two-side {
    width: 49%;
    -ms-flex-preferred-size: 600px;
    flex-basis: 600px;
}

.question-list {
    transition: 0.5s
}

.question-list__visible {
    background: #fff;
    height: 55px;
    box-shadow: 0 0 24px rgba(71, 140, 225, 0.07);
    margin: 10px;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px;
    color: #5e5e5e;
}

.question-list__down {
    background: #F4F4F4;
    display: none;
    height: initial;
    /*overflow: hidden;*/
    /*transition: height 0.5s;*/
    box-sizing: border-box;
    padding-left: 20px;
}

.question-list__down span {
    display: block;
    margin: 0 10px;
    line-height: 29px;
    color: #5e5e5e !important;
    font-family: Arial;
    font-size: 14px !important;
    font-weight: 400 !important;
    text-align: left !important;
    line-height: 29px;
}

.question-list__down li {
    margin-left: 20px;
    color: #5e5e5e;
    font-size: 15px;
    font-weight: 400;
    line-height: 29px;
}

.kontackts {
    padding: 80px 0;
}

.kontackt-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.wrapper-tel {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
}

.wrapper-tel img {
    margin-right: 15px;
}

.kont-wrap {
    width: 400px;
    height: 200px;
}

.kont {
    font: 400 14px Arial, sans-serif;
    ;
    background: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 508px;
    height: 275px;
    box-shadow: 0 0 24px rgba(71, 140, 225, 0.07);
    color: #797979;
    margin: 0 20px;
}

.kont span {
    display: -ms-flexbox;
    display: flex;
    color: #797979;
    line-height: 22px;
    font-size: 14px
}

.kont h4 {
    font: 700 13px/40px Arial, sans-serif;
    ;
    color: #242424;
    text-transform: uppercase;
}

.map {
    height: 400px;
    background: #808080;
}

footer {
    font: 400 14px Arial, sans-serif;
    ;
    background: #252525;
    height: 180px;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.soial {
    text-align: center;
}

.soial h5 {
    margin-bottom: 20px;
}

.soial img {
    margin: 0 5px;
}

@media (max-width: 1000px) {
    .what_should_do__wrap,
    .question-wrapper {
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media (max-width:1000px) {
    .what_should_do__wrap ul {
        margin-top: 50px;
    }
    .preim {
        margin-top: 20px;
    }
    .sertif {
        margin-top: 20px;
    }
    .pics {
        margin: 10px 15px;
    }
    .kont {
        margin-top: 10px;
    }
    .dotteds {
        display: none;
    }
}

@media screen and (max-width: 960px) {
    .preim {
        width: calc(58.333333333333336% - 10px);
    }
    .sertif {
        width: calc(41.66666666666667% - 10px);
    }
    .pics {
        width: calc(50% - 10px);
    }
    .check-box {
        width: calc(41.66666666666667% - 10px);
    }
    .link {
        width: calc(41.66666666666667% - 10px);
    }
}

@media (max-width:960px) {
    .preim-wrap {
        margin: 20px 0;
    }
}

@media (max-width:900px) {
    .what_should_do {
        padding: 20px 0;
    }
    .red-long {
        margin: 20px 10px;
    }
    .complex {
        padding: 30px 0;
    }
    .price {
        padding: 30px 0;
    }
    .price-table {
        margin-top: 20px;
    }
    .link-wrapper {
        margin: 20px 0;
    }
    .question {
        padding: 30px 0;
    }
    .kontackts {
        padding: 30px 0;
    }
}

@media screen and (max-width: 780px) {
    .sertif {
        width: calc(58.333333333333336% - 10px);
    }
    .pics {
        width: calc(83.33333333333334% - 10px);
    }
    .check-wrapper {
        -ms-flex-pack: center;
        justify-content: center;
    }
    .check-box {
        width: calc(75% - 10px);
    }
    .check-box {
        text-align: -webkit-center;
    }
    .link {
        width: calc(58.333333333333336% - 10px);
    }
}

@media (max-width:700px) {
    .logo-two,
    .logo-one {
        display: none;
    }
    .red-inf,
    .red-inf__item {
        display: none;
    }
    .price-table {
        margin-left: 0;
    }
    .price-wrapper {
        justify-content: center;
    }
    .header-nav {
        display: none;
    }
}

@media (max-width:500px) {
    .price-table td {
        padding: 0;
    }
    .question-list__visible {
        height: auto;
        min-height: 60px;
    }
    .pics span {
        text-align: center;
    }
}

@media (max-width:480px) {
    .header-nav {
        min-height: 180px;
    }
    .header-nav .wrapper {
        min-height: 180px;
    }
}


/* Модалка */

@media (min-width: 768px) {
    .modal-sm {
        width: 450px;
    }
}

.modal .close {
    text-decoration: none;
    position: absolute;
    right: 0;
    top: 0;
    background: url('../img/close_popup.png') no-repeat !important;
    width: 39px;
    height: 39px;
    display: block;
    opacity: 5;
    margin-top: 0 !important;
}

.modal .close:hover {
    background: url('../img/close_popup.png') no-repeat !important;
    opacity: 5;
}

.modal .modal-title {
    text-align: center;
    font-size: 21px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.modal .form-group {
    margin-bottom: 25px;
}

.modal .form-group.form-group-btn,
.modal .form-group.form-group-btn {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -25px;
}

.modal .form-control {
    border: 1px solid #ccc;
}

.modal .form-control.input-lg {
    height: 55px;
}

.modal .btn-primary {
    background: #4586C1;
    border: none;
    border-bottom: 5px solid #054177;
    font-weight: 700;
    letter-spacing: 1px;
}

.modal .btn-primary.btn-lg {
    __height: 59px;
}


/* Модалка региона */

#modalCity .modal-body-inner {
    max-height: 290px;
}

#modalCity .btn {
    height: 35px;
}

#modalCity .btn.lead {
    font-size: 1.2em;
    margin: 0;
    padding-top: 0;
}

.modal-content {
    border-radius: 0px;
}

.btn,
.form-control {
    border-radius: 0 !important;
}

.btn-primary {
    background-image: linear-gradient(to top, #267dd6 0%, #33a1ff 100%);
    padding: 20px 25px;
    border-color: #2D90EC;
    -webkit-transition: all .2s ease-in-out !important;
    transition: all .2s ease-in-out !important;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    -webkit-transition: all .2s ease-in-out !important;
    transition: all .2s ease-in-out !important;
    border-color: #267DD6;
    background-color: #267dd6;
    background-image: linear-gradient(to top, #267dd6 0%, #267dd6 100%);
}

.btn:hover {
    color: white !important;
}

.btn-empt-black:hover {
    color: black !important;
}

.btn-round {
    border-radius: 40px !important;
}

.nav-item:hover {
    color: #008c99;
    text-decoration: none;
}


/*!* Прячем лишнюю всплывашку на ОМСКе, найти удалить код не полуается *!*/


/*.lead-catcher-unclosed-modal{*/


/*display:none !important;*/


/*visibility:hidden !important;*/

.checkbox-style {
    position: relative
}

.checkbox-style label {
    font-weight: normal
}

.checkbox-style input[type="checkbox"] {
    display: none
}

.checkbox-style label:before {
    position: relative;
    font-family: "Ionicons";
    content: "\f122";
    line-height: 1.3;
    color: #fbfbfb;
    text-align: center;
    margin-right: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fbfbfb;
    border: 1px solid #c3c3c3;
    cursor: pointer;
    border-radius: 1px
}

.checkbox-style input[type="checkbox"]:checked+label:before {
    color: #fff;
    background-color: #4586c1;
    border-color: #4586c1
}

.checkbox-style input[type="checkbox"][disabled]+label,
.checkbox-style input[type="checkbox"][disabled]+label:before {
    color: #c3c3c3
}

.checkbox-style input[type="checkbox"][disabled]+label:before {
    border: 1px solid #d3d3d3
}

.radio-style {
    position: relative
}

.radio-style label {
    font-weight: normal
}

.radio-style input[type="radio"] {
    display: none
}

.radio-style label {
    position: relative;
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid #c3c3c3;
    background-color: #f5f5f5;
    background: -webkit-linear-gradient(#fff, #f1f1f1);
    background: linear-gradient(#fff, #f1f1f1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05), inset -1px -1px #FFF, inset 1px -1px #FFF;
    cursor: pointer;
    border-radius: 25px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.radio-style input[type="radio"]:checked+label:before {
    position: absolute;
    content: "";
    z-index: 999;
    top: 0;
    left: 0;
    margin: 4px 0 0 4px;
    line-height: 1.3;
    background-color: #fdb900;
    text-align: center;
    width: 16px;
    height: 16px;
    border-radius: 25px
}

.radio-style input[type="radio"][disabled]+label,
.radio-style input[type="radio"][disabled]+label:before {
    color: #c3c3c3
}

.radio-style input[type="radio"][disabled]+label:before {
    border: 1px solid #d3d3d3
}

.question-list__down ul li {
   text-align: justify
}

.wrap-quest {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.item-quest__left,
.item-quest__rigth {
  width: calc(50% - 20px);
}

.item-quest {
  margin: 20px 0;
}

.open {
  background: #fff;
  box-shadow: 3px 2px 6px rgba(54,53,53,0.06);
  height: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0 20px;
  cursor: pointer;
  font-weight: 400;
  color: #5e5e5e;
    font-family: Arial;
  font-size: 14px;
    text-align: left !important;
}

.open span {
   color: #5e5e5e;
    font-family: Arial;
    font-size: 14px;
    font-weight: 400; 
}

.closed {
  padding: 20px;
  
}

.quest {
  text-align: center;
}

.quest {
  background: url('../img/quest.png') no-repeat;
   background-repeat: no-repeat;
   background-size: 100% 100%;
  padding-bottom: 80px;
}

  .item-quest__left,
  .item-quest__rigth {
    width: 80%;
  }

.item-quest__left,
.item-quest__rigth {
  width: calc(50% - 20px);
}

.item-quest {
  margin: 20px 0;
}

.wrap-quest {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.item-quest__left,
.item-quest__rigth {
  width: calc(50% - 20px);
}

.item-quest {
  margin: 20px 0;
}

.open {
  background: #fff;
  box-shadow: 3px 2px 6px rgba(54,53,53,0.06);
  height: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0 20px;
  cursor: pointer;
  font-weight: 700;
  color: #232323;
  font-size: 12px;
}

.sign {
  font-size: 15px;
}

.closed {
  padding: 20px;
  
}

.quest {
  text-align: center;
}

.quest {
  background: url('../img/bgf.png') no-repeat;
   background-repeat: no-repeat;
   background-size: 100% 100%;
  padding: 60px;
}


  .item-quest__left,
  .item-quest__rigth {
    width: 80%;
  }

.item-quest__left,
.item-quest__rigth {
  width: calc(50% - 20px);
}

.item-quest {
  margin: 20px 0;
}

.check-box span {
    max-width: 220px;
}

.btn-empt:hover {
    background: white;
    color: black !important;
}

@media(max-width:850px) {
    .wrap-quest {
        flex-direction: column;
        align-items: center;
    }
    .item-quest__left, .item-quest__rigth {
        width: 100%;
    }
}

/*Попап*/

.popup-order {
    position: fixed;
    top: -300px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 500px;
    background-color: #fbfbfb;
    padding: 20px;
    z-index: 100;
    text-align: center;
}

.popup-order span {
    font: 400 14px/25px Arial, sans-serif;
    text-align: justify;
    margin-top: 10px;
    color: #5e5e5e;
}

.close, .close-2 {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 28px;
    cursor: pointer;
}

.popap-wrap {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.48);
    top: 0;
    left: 0;
    z-index: 5;
    display: none;
    cursor: pointer;
}

.order__h2 {
    margin: 0;
    padding: 0;
}

.wrapper-form {
    margin-top: 30px;
}

.wrapper-form .inp {
    box-shadow: 3px 4px 18px rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    height: 50px;
    width: 95%;
    border: none;
    margin-top: 20px;
    padding-left: 20px
}

.confid {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    margin-bottom: 10px;
}

.confid input {
    margin-right: 10px;
}

.conf-check {
    width: 20px;
    height: 20px;
}

.wrapper-form button {
    height: 62px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-top: 20px;
    color: white;
    font-size: 13px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    background-image: linear-gradient(to top, #017681 0%, #006972 100%);
}

.but {
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.but:hover {
    background-image: linear-gradient(to bottom, #007884 0%, #008d9a 100%);
}

.question-list__down {
  display: none;
  height: initial;
  box-sizing: border-box;
  padding-left: 20px;
  font-size: 15px;
  color: #3b3b3b;
}

.question-list__down span {
    text-align: justify !important;
}

.polit {
    position: fixed;
    padding: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 450px;
    text-align: center;
    top: -300px;
    z-index: 1000
}

.polit p {
    font-size: 14px;
}

.polit h3 {
    font-size: 22px;
    margin: 15px 0;
}

.polit .konf {
    color: #337ab7;
    margin-top: 10px;
    display: block;
}

.politt {
    padding-top: 20px;
    color: #337ab7;
    text-decoration: underline;
}

.big-btn {
    max-width: 400px !important;
    height: 70px !important;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    border-radius: 40px;
    text-transform: uppercase;
    font-weight: bold;
}

.popap-suc {
    width: 300px;
    height: 200px;
    position: fixed;
    top: -300px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    align-items: center;
    justify-content: center;
}

.popap-suc img {
    margin-bottom: 20px;
}

.popap-suc span {
    font: 400 14px/24px;
    color: #484848;
}

.img_border {
      box-shadow: 0 0 43px rgba(202, 202, 202, 0.2);
      border: 7px solid #ffffff;
   }