@font-face {
  font-family: "Droid Serif";
  font-style: italic;
  font-weight: 400;
  src: local("Droid Serif Italic"),local(DroidSerif-Italic),url(//fonts.gstatic.com/s/droidserif/v6/cj2hUnSRBhwmSPr9kS5896SxSvC1lIsK_unZDHWqTBg.eot?#) format("eot"),url(//fonts.gstatic.com/s/droidserif/v6/cj2hUnSRBhwmSPr9kS5899kZXW4sYc4BjuAIFc1SXII.woff) format("woff2"),url(//fonts.gstatic.com/s/droidserif/v6/cj2hUnSRBhwmSPr9kS5899kZXW4sYc4BjuAIFc1SXII.woff) format("woff");
}

@font-face {
  font-family: "Droid Serif";
  font-style: italic;
  font-weight: 700;
  src: local("Droid Serif Bold Italic"),local(DroidSerif-BoldItalic),url(//fonts.gstatic.com/s/droidserif/v6/c92rD_x0V1LslSFt3-QEptmkQI_kos-lIOeNt19QAas.eot?#) format("eot"),url(//fonts.gstatic.com/s/droidserif/v6/c92rD_x0V1LslSFt3-QEpgRV2F9RPTaqyJ4QibDfkzM.woff) format("woff2"),url(//fonts.gstatic.com/s/droidserif/v6/c92rD_x0V1LslSFt3-QEpgRV2F9RPTaqyJ4QibDfkzM.woff) format("woff");
}

@font-face {
  font-family: "Droid Serif";
  font-style: normal;
  font-weight: 400;
  src: local("Droid Serif"),local(DroidSerif),url(//fonts.gstatic.com/s/droidserif/v6/0AKsP294HTD-nvJgucYTaGfQcKutQXcIrRfyR5jdjY8.eot?#) format("eot"),url(//fonts.gstatic.com/s/droidserif/v6/0AKsP294HTD-nvJgucYTaIbN6UDyHWBl620a-IRfuBk.woff) format("woff2"),url(//fonts.gstatic.com/s/droidserif/v6/0AKsP294HTD-nvJgucYTaIbN6UDyHWBl620a-IRfuBk.woff) format("woff");
}

@font-face {
  font-family: "Droid Serif";
  font-style: normal;
  font-weight: 700;
  src: local("Droid Serif Bold"),local(DroidSerif-Bold),url(//fonts.gstatic.com/s/droidserif/v6/QQt14e8dY39u-eYBZmppwbFt29aCHKT7otDW9l62Aag.eot?#) format("eot"),url(//fonts.gstatic.com/s/droidserif/v6/QQt14e8dY39u-eYBZmppwTqR_3kx9_hJXbbyU8S6IN0.woff) format("woff2"),url(//fonts.gstatic.com/s/droidserif/v6/QQt14e8dY39u-eYBZmppwTqR_3kx9_hJXbbyU8S6IN0.woff) format("woff");
}

@font-face {
  font-family: 'OpenSans Semibold';
  src: url("../fonts/OpenSans/open-sans-semibold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Borjomi Regular';
  src: url("../fonts/Borjomi/Borjo.otf");
  font-weight: normal;
  font-style: normal;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,
body {
  line-height: 1;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
  outline: none;
}

button {
  background: none;
  outline: none;
}

input,
textarea {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

.wrapper {
  max-width: 1200px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

h2 {
  margin-bottom: 50px;
  color: #95989a;
}

.gold {
  background: #ffd700;
}

.header {
  height: 100%;
  width: 100%;
  background: url('../img/header.png');
  background-size: cover;
  font-family: 'OpenSans Semibold';
}

.header-logo {
  width: 200px;
  margin-top: 50px;
}

.header-text {
  height: calc(100vh - 100px);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-textbox {
  color: #f0f8ff;
  text-align: center;
  font-size: 27px;
}

.header-textbox>* {
  display: block;
  margin-top: 30px;
}

.span-1 {
  font: 40px "OpenSans Semibold";
}

.text-and-lines {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.lines {
  background: url('../img/two-lines.png') no-repeat;
  height: 6px;
  width: 100%;
}

.span-2 {
  font: 16px "OpenSans Semibold";
  letter-spacing: 9px;
  text-transform: uppercase;
  min-width: 330px;
}

.span-3 {
  font: 20px/1.5 "Droid Serif";
}

.span-4 {
  font: 60px "Droid Serif";
  text-transform: uppercase;
}

.header-nav {
  height: 60px;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 30px;
}

.nav-1 {
  width: 40%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.nav-2 {
  width: 40%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.item-header {
  font-size: 18px;
  color: #f0f8ff;
}

main {
  height: 100%;
}

.news {
  min-height: 400px;
  margin: 80px 0;
}

.welcome-wrapper {
  text-align: center;
  width: 70%;
  margin: 30px auto;
}

.welcome-wrapper > * {
  margin-top: 20px;
}

.news-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  -ms-flex-pack: center;
  justify-content: center;
}

.white-logo {
  background: url('../img/composite-path.png');
  width: 60px;
  height: 60px;
  margin: auto;
}

.welcome {
  font: 35px "Droid Serif";
  color: #333;
}

.welcome-text {
  font: 16px "Droid Serif";
  color: #4c4c4c;
}

.new {
  height: 450px;
  background: #000;
  position: relative;
  background: url('../img/news/bitmap.png');
  background-size: cover;
  margin-bottom: 20px;
  -ms-flex-preferred-size: 350px;
  flex-basis: 350px;
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
  word-wrap: break-word;
  width: calc(33.333333333333336% - 20px);
}

.new__inform {
  height: 85px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: -ms-flexbox;
  display: flex;
}

.eyllow {
  background: #ffd700;
  height: 70px;
  width: 80px;
  margin-left: 15px;
  color: #f0f8ff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column;
}

.namber-date {
  font-size: 27px;
}

.new__text {
  color: #f0f8ff;
  margin: 0 15px;
  line-height: 1.3;
}

.new__lable {
  color: #f0f8ff;
  font-size: 30px;
  position: absolute;
  top: 60px;
  left: 50%;
  margin-right: -50%;
  transform: translateX(-50%);
}

.calendar {
  height: 500px;
}

.line_with_verse {
  min-height: 450px;
  background: #000;
  margin: 20px 0;
}

.verse-text {
  margin-left: 50px;
}

.verse-text span {
  color: #f0f8ff;
  display: block;
}

.verse-text span + span {
  margin-top: 40px;
}

.line_with_verse__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 450px;
}

.gallery {
  min-height: 100vh;
  margin-top: 20px;
}

.galler {
  min-height: 600px;
  display: -ms-flexbox;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.galler-cell {
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
  word-wrap: break-word;
  width: calc(50% - 20px);
  height: 590px;
}

.gal {
  position: relative;
}

.gal img {
  width: 100%;
  height: 100%;
  margin-left: 0;
  position: relative;
}

.gallery__box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 600px;
}

.gallery__box-quarter {
  width: calc(50% - 5px);
  height: calc(50% - 10px);
}

.slugenie__name {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.34);
  position: absolute;
  z-index: 1;
}

.slugenie__name:hover .nazv,
.slugenie__name:focus .nazv {
  top: 10%;
  transition: 1s;
}

.slugenie__name:hover .discript,
.slugenie__name:focus .discript {
  opacity: 1;
  top: 30%;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translateX(-50%);
  transition: 1s;
}

.nazv {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 23px;
  z-index: 1;
  color: rgba(240,248,255,0.69);
  transition: 1s;
}

.discript {
  font-size: 17px;
  width: 70%;
  display: block;
  color: #f0f8ff;
  position: absolute;
  opacity: 0;
  text-align: justify;
  transition: 0.5s;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translateX(-50%);
}

.pastors {
  margin-top: 20px;
  margin-bottom: 20px;
}

.pastors-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.pastor {
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
  word-wrap: break-word;
  width: calc(25% - 20px);
  height: 450px;
}

.pastor img {
  width: 100%;
  height: 100%;
}

.pastor__pic {
  height: 380px;
}

.pastor__name {
  height: 70px;
  text-align: center;
  margin-top: 20px;
}

.pastor__name .status {
  margin-bottom: 5px;
}

.about_church {
  background: #f4f4f4;
  min-height: 500px;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about_church__pic {
  width: 500px;
  height: 500px;
  background: url('../img/our-charch.png');
  background-size: cover;
}

footer {
  height: 300px;
  background: #333;
}

@media screen and (max-width: 1100px) {
  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 960px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .new {
    width: calc(66.66666666666667% - 20px);
  }

  .galler-cell {
    width: calc(83.33333333333334% - 20px);
  }
}

@media screen and (max-width: 780px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 560px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}