@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 300;
  src: local("Open Sans Light Italic"),local(OpenSansLight-Italic),url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxrXcjzEax2LfQAlK8DdMzhA.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxh_xHqYgAV9Bl_ZQbYUxnQU.woff) format("woff2"),url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxh_xHqYgAV9Bl_ZQbYUxnQU.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"),local(OpenSans-Italic),url(//fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBmfQcKutQXcIrRfyR5jdjY8.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff) format("woff2"),url(//fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  src: local("Open Sans Semibold Italic"),local(OpenSans-SemiboldItalic),url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxo8mkAiYpFywqG2RvpzBnTU.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxn5HxGBcBvicCpTp6spHfNo.woff) format("woff2"),url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxn5HxGBcBvicCpTp6spHfNo.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"),local(OpenSans-BoldItalic),url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxrFt29aCHKT7otDW9l62Aag.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxjqR_3kx9_hJXbbyU8S6IN0.woff) format("woff2"),url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxjqR_3kx9_hJXbbyU8S6IN0.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 800;
  src: local("Open Sans Extrabold Italic"),local(OpenSans-ExtraboldItalic),url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxphT2rkLFFMVLymfgfmWVtI.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxkCDe67GEgBv_HnyvHTfdew.woff) format("woff2"),url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxkCDe67GEgBv_HnyvHTfdew.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"),local(OpenSans-Light),url(//fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXZ2MAKAc2x4R1uOSeegc5U.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format("woff2"),url(//fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"),local(OpenSans),url(//fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3fY6323mHUZFJMgTvxaG2iE.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format("woff2"),url(//fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"),local(OpenSans-Semibold),url(//fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSnZ2MAKAc2x4R1uOSeegc5U.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format("woff2"),url(//fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"),local(OpenSans-Bold),url(//fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzHZ2MAKAc2x4R1uOSeegc5U.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format("woff2"),url(//fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans Extrabold"),local(OpenSans-Extrabold),url(//fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hnZ2MAKAc2x4R1uOSeegc5U.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hnhCUOGz7vYGh680lGh-uXM.woff) format("woff2"),url(//fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hnhCUOGz7vYGh680lGh-uXM.woff) format("woff");
}

@font-face {
  font-family: "Droid Serif";
  font-style: italic;
  font-weight: 400;
  src: local("Droid Serif Italic"),local(DroidSerif-Italic),url(//fonts.gstatic.com/s/droidserif/v6/cj2hUnSRBhwmSPr9kS5896SxSvC1lIsK_unZDHWqTBg.eot?#) format("eot"),url(//fonts.gstatic.com/s/droidserif/v6/cj2hUnSRBhwmSPr9kS5899kZXW4sYc4BjuAIFc1SXII.woff) format("woff2"),url(//fonts.gstatic.com/s/droidserif/v6/cj2hUnSRBhwmSPr9kS5899kZXW4sYc4BjuAIFc1SXII.woff) format("woff");
}

@font-face {
  font-family: "Droid Serif";
  font-style: italic;
  font-weight: 700;
  src: local("Droid Serif Bold Italic"),local(DroidSerif-BoldItalic),url(//fonts.gstatic.com/s/droidserif/v6/c92rD_x0V1LslSFt3-QEptmkQI_kos-lIOeNt19QAas.eot?#) format("eot"),url(//fonts.gstatic.com/s/droidserif/v6/c92rD_x0V1LslSFt3-QEpgRV2F9RPTaqyJ4QibDfkzM.woff) format("woff2"),url(//fonts.gstatic.com/s/droidserif/v6/c92rD_x0V1LslSFt3-QEpgRV2F9RPTaqyJ4QibDfkzM.woff) format("woff");
}

@font-face {
  font-family: "Droid Serif";
  font-style: normal;
  font-weight: 400;
  src: local("Droid Serif"),local(DroidSerif),url(//fonts.gstatic.com/s/droidserif/v6/0AKsP294HTD-nvJgucYTaGfQcKutQXcIrRfyR5jdjY8.eot?#) format("eot"),url(//fonts.gstatic.com/s/droidserif/v6/0AKsP294HTD-nvJgucYTaIbN6UDyHWBl620a-IRfuBk.woff) format("woff2"),url(//fonts.gstatic.com/s/droidserif/v6/0AKsP294HTD-nvJgucYTaIbN6UDyHWBl620a-IRfuBk.woff) format("woff");
}

@font-face {
  font-family: "Droid Serif";
  font-style: normal;
  font-weight: 700;
  src: local("Droid Serif Bold"),local(DroidSerif-Bold),url(//fonts.gstatic.com/s/droidserif/v6/QQt14e8dY39u-eYBZmppwbFt29aCHKT7otDW9l62Aag.eot?#) format("eot"),url(//fonts.gstatic.com/s/droidserif/v6/QQt14e8dY39u-eYBZmppwTqR_3kx9_hJXbbyU8S6IN0.woff) format("woff2"),url(//fonts.gstatic.com/s/droidserif/v6/QQt14e8dY39u-eYBZmppwTqR_3kx9_hJXbbyU8S6IN0.woff) format("woff");
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,
body {
  line-height: 1;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
  outline: none;
}

button {
  background: none;
  outline: none;
}

input,
textarea {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

.wrapper {
  max-width: 1200px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  height: 100%;
}

h2 {
  margin-bottom: 50px;
  color: #95989a;
}

.header {
  height: 100%;
  width: 100%;
  background: url('../img/header.png');
  background-size: cover;
  font-family: 'OpenSans Semibold';
}

.header-logo {
  width: 200px;
  margin-top: 50px;
}

.header-text {
  height: calc(100vh - 100px);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-textbox {
  color: #f0f8ff;
  text-align: center;
  font-size: 27px;
}

.header-textbox>* {
  display: block;
  margin-top: 30px;
}

.span-1 {
  font: 20px "OpenSans Semibold";
}

.text-and-lines {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.lines {
  background: url('../img/two-lines.png') no-repeat;
  height: 6px;
  width: 100%;
  margin: 0 10px;
}

.span-2 {
  font: 12px "OpenSans Semibold";
  letter-spacing: 9px;
  text-transform: uppercase;
  min-width: 330px;
}

.span-3 {
  font: 12px/1.5 "Droid Serif";
  width: 80%;
  margin: 30px auto;
}

.span-4 {
  font: 25px "Droid Serif";
  text-transform: uppercase;
}

.header-nav {
  height: 60px;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 30px;
}

.burger {
  display: none !important;
  position: absolute;
  top: 50px;
  left: 50px;
  cursor: pointer;
  color: #f0f8ff;
}

.nav-1 {
  width: 40%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.nav-2 {
  width: 40%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.item-header {
  font-size: 18px;
  color: #f0f8ff;
}

main {
  min-height: 100%;
}

.news {
  min-height: 400px;
  margin: 80px 0;
}

.welcome-wrapper {
  text-align: center;
  width: 70%;
  margin: 30px auto;
}

.welcome-wrapper > * {
  margin-top: 20px;
}

.welcome-type {
  color: #4c4c4c;
  font-family: "Open Sans";
  letter-spacing: 5px;
  margin-bottom: -10px;
}

.news-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
  -ms-flex-pack: center;
  justify-content: center;
}

.white-logo {
  background: url('../img/logo-white.png');
  background-size: cover;
  width: 80px;
  height: 70px;
  margin: auto;
}

.welcome {
  font: 35px "Droid Serif";
  color: #333;
}

.welcome-text {
  font: 16px "Droid Serif";
  color: #4c4c4c;
}

.new {
  height: 350px;
  position: relative;
  margin-bottom: 20px;
  -ms-flex-preferred-size: 300px;
  flex-basis: 300px;
  perspective: 1000px;
  box-sizing: border-box;
  margin-left: 5px;
  margin-right: 5px;
  word-wrap: break-word;
  width: calc(25% - 10px);
  margin: 5px 10px;
  cursor: pointer;
}

.one-side {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.other-side {
  position: absolute;
  background: #fff;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform: rotateY(180deg);
  border: 4px double #ccc;
  box-sizing: border-box;
  padding: 20px;
  text-align: justify;
}

.new-fon {
  position: absolute;
  width: 100%;
  height: 100%;
}

.cross {
  position: absolute;
  left: 0;
  top: 0;
}

.rotation {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: #fff;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  will-change: transform;
}

.rot {
  transform: rotateY(180deg);
}

.new__inform {
  height: 85px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: -ms-flexbox;
  display: flex;
}

.eyllow {
  background: #ffd700;
  height: 70px;
  width: 110px;
  margin-left: 15px;
  color: #f0f8ff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column;
}

.namber-date {
  font-size: 27px;
}

.new__text {
  color: #f0f8ff;
  margin: 0 10px;
  line-height: 1.3;
}

.new__lable {
  color: #f0f8ff;
  font-size: 30px;
  position: absolute;
  top: 60px;
  left: 50%;
  margin-right: -50%;
  transform: translateX(-50%);
}

.line_with_verse {
  background: #000;
  padding: 20px 0;
}

.line_with_verse__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 350px;
}

.line_with_verse__container .raspis {
  margin-left: 100px;
}

.line_with_verse__container h3 {
  font: 22px "Droid Serif";
  color: #efc029;
}

.line_with_verse__container span {
  font: 20px "Droid Serif";
  color: #fefefe;
}

.pogertvovanie-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px 0;
}

.pogertvovanie-card {
  box-sizing: border-box;
  margin-left: 5px;
  margin-right: 5px;
  word-wrap: break-word;
  width: calc(33.333333333333336% - 10px);
  height: 470px;
  -ms-flex-preferred-size: 370px;
  flex-basis: 370px;
  background: url("../img/news/bitmap.png");
  background-size: cover;
  position: relative;
  margin: 0 20px;
  margin-top: 10px;
}

.pogertvovanie-card h3 {
  font: 16px "Open Sans";
  color: #fff;
  letter-spacing: 3px;
  color: #f0f8ff;
  position: absolute;
  top: 45px;
  left: 50%;
  margin-right: -50%;
  transform: translateX(-50%);
}

.pogertvovanie-card:hover .pogertvovanie-text,
.pogertvovanie-card:focus .pogertvovanie-text {
  opacity: 1;
}

.pogertvovanie-text {
  font: 12px "Open Sans";
  color: #fff;
  display: block;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
  opacity: 0;
  transition: opacity 1s;
}

.pogertvovanie-type {
  font: 400 79px "Droid Serif";
  opacity: 0.2;
  color: #000;
  position: absolute;
  top: 10px;
  left: 50%;
  margin-right: -50%;
  transform: translateX(-50%);
}

.pogertvovanie-button {
  background: #fc0;
  width: 150px;
  height: 50px;
  border-radius: 2px;
  color: #f0f8ff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 300px;
  left: 50%;
  margin-right: -50%;
  transform: translateX(-50%);
}

.pogertvovanie-button:hover,
.pogertvovanie-button:focus {
  background: #e8ba04;
}

.pogertvovanie-vers {
  position: absolute;
  bottom: 0;
  height: 90px;
  width: 90%;
  left: 50%;
  margin-right: -50%;
  transform: translateX(-50%);
}

.pogertvovanie-vers span {
  font: 19px "Droid Serif";
  color: #fff;
  margin: 0;
  text-align: center;
  display: block;
}

.gallery {
  padding: 50px 0;
  background: #f4f4f4;
}

.gallery-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
  -ms-flex-pack: center;
  justify-content: center;
}

.gal {
  box-sizing: border-box;
  margin-left: 5px;
  margin-right: 5px;
  word-wrap: break-word;
  width: calc(25% - 10px);
  position: relative;
  margin-top: 10px;
}

.gal img {
  width: 100%;
  height: 100%;
  margin-left: 0;
  position: relative;
}

.slugenie__name {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.34);
  position: absolute;
  z-index: 1;
}

.slugenie__name:hover .nazv,
.slugenie__name:focus .nazv {
  top: 10%;
  transition: 1s;
}

.slugenie__name:hover .discript,
.slugenie__name:focus .discript {
  opacity: 1;
  top: 30%;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translateX(-50%);
  transition: 1s;
}

.nazv {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 21px;
  z-index: 1;
  color: #f0f8ff;
  transition: 1s;
}

.discript {
  font-size: 17px;
  width: 85%;
  display: block;
  color: #f0f8ff;
  position: absolute;
  opacity: 0;
  transition: 0.5s;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translateX(-50%);
  text-align: justify;
}

.pastors {
  padding: 50px 0;
  margin-bottom: 20px;
}

.pastors-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 20px;
}

.pastor {
  box-sizing: border-box;
  margin-left: 5px;
  margin-right: 5px;
  word-wrap: break-word;
  width: calc(66.66666666666667% - 10px);
  text-align: center;
}

.pastor img {
  width: 270px;
  height: 100%;
}

.pastor__name {
  height: 70px;
  text-align: center;
  margin-top: 20px;
}

.pastor__name .status {
  margin-bottom: 5px;
}

.status {
  font: 12px "Open Sans";
  color: #4c4c4c;
  text-transform: uppercase;
}

.name {
  font: 25px "Droid Serif";
  color: #333;
}

.about_church {
  background: #f4f4f4;
  min-height: 500px;
  padding: 50px 0;
}

.about_church-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.about_church__pic {
  height: 500px;
  width: 100%;
  -ms-flex: 1px;
  flex: 1;
  text-align: center;
}

.about_church__pic img {
  height: 100%;
}

.about_church__text {
  margin-left: 20px;
  -ms-flex: 1px;
  flex: 1;
  -ms-flex-preferred-size: 400px;
  flex-basis: 400px;
  text-align: left;
}

.about_church__text .welcome {
  margin-top: 20px;
}

.about_church__text .welcome-text {
  margin-top: 30px;
}

.we_are_cool {
  margin-top: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
  -ms-flex-pack: center;
  justify-content: center;
}

.cool__box {
  box-sizing: border-box;
  margin-left: 5px;
  margin-right: 5px;
  word-wrap: break-word;
  width: calc(50% - 10px);
  height: 150px;
  margin-top: 20px;
  position: relative;
  padding-left: 70px;
}

.cool__box h4 {
  margin-top: 10px;
}

.cool__box span {
  font: 14px "Droid Serif";
  margin-top: 30px;
  display: block;
  color: #4c4c4c;
}

.cool__cross {
  position: absolute;
  top: 0;
  left: 0;
}

footer {
  min-height: 400px;
  background: #333;
  color: #ccc;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

footer span {
  font: 15px "Droid Serif";
}

footer h3 {
  font: 22px "Droid Serif";
  color: #fff;
}

.footer-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
  width: 100%;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-col {
  box-sizing: border-box;
  margin-left: 5px;
  margin-right: 5px;
  word-wrap: break-word;
  width: calc(33.333333333333336% - 10px);
  margin-top: 20px;
}

.footer-logo img {
  width: 120px;
  margin: 10px;
  float: left;
}

.footer-links {
  display: -ms-flexbox;
  display: flex;
}

.footer-social {
  -ms-flex: 1px;
  flex: 1;
  width: 200px;
  height: 60px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-align: center;
  align-items: center;
}

.footer-phone {
  -ms-flex: 1px;
  flex: 1;
  min-width: 200px;
  margin-left: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-phone span {
  display: block;
  font-size: 16px;
}

.raspis {
  padding-left: 20px;
}

.raspis span {
  display: block;
  margin-bottom: 5px;
}

.grey-line {
  width: 100%;
  border-bottom: 1px solid #555;
  margin: 20px 0;
}

.footer-rassilka {
  text-align: center;
}

.footer-rassilka form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 30px;
}

.footer-rassilka input {
  background: #2a2a2a;
  height: 30px;
  width: 280px;
  border: 1px solid #5b5b5b;
  padding-left: 10px;
}

.rassilka-button {
  font: 12px "Open Sans";
  background: #e8b801;
  width: 119px;
  height: 30px;
  margin-top: 20px;
  border-radius: 2px;
  color: #fff;
  text-shadow: 1px 1px 1px 1px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.copirait {
  margin-top: 30px;
  text-align: center;
  padding-bottom: 20px;
}

.header-ins__nav {
  height: 70px;
  background: #fff;
}

.header-ins__nav .wrapper {
  height: 100%;
}

.header-prop__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.logo-ins {
  font: 700 26px "Open Sans";
  text-transform: uppercase;
  color: #f6c500;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.gold {
  color: #000;
}

.nav-ins {
  font: 600 16px "Open Sans";
  color: #333;
  -ms-flex-preferred-size: 700px;
  flex-basis: 700px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-align: center;
  align-items: center;
}

.header-ins__pic {
  height: 370px;
  background: url('../img/propoved/header-prop.png');
  background-size: cover;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-ins__h1 {
  font: 400 55px "Droid Serif";
  color: #fff;
  text-transform: uppercase;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-prop {
  background: url('../img/propoved/prop-bg.png') center;
  background-size: cover;
  padding-top: 30px;
}

.propovedy-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.propovedy-categories {
  color: #f0f8ff;
  text-align: center;
  font-size: 30px;
  min-width: 45%;
  -ms-flex-preferred-size: 500px;
  flex-basis: 500px;
}

.catedor {
  height: 180px;
  background: #fff;
  margin-bottom: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.catedor img {
  height: 100%;
}

.catedor span {
  font: 19px "Droid Serif";
  margin: 0 10px;
  color: #333;
  text-align: center;
}

.propovedy-audio {
  min-width: 49%;
  -ms-flex-preferred-size: 500px;
  flex-basis: 500px;
}

.audio-container {
  margin-bottom: 20px;
}

.audio-item {
  height: 45px;
  width: 100%;
  background: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.play {
  background: #e9e9e9;
  width: 45px;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.play-ico {
  color: #9f9f9f;
  font-size: 16px;
}

.play-name {
  font: 700 16px "Droid Serif";
  color: #333;
  margin-left: 20px;
  letter-spacing: 1px;
}

.play-open {
  width: 100%;
  height: 135px;
  background: #fff;
  border-top: 1px solid #808080;
  text-align: center;
  margin-bottom: 10px;
}

.play-open audio {
  width: 90%;
  margin: auto;
  margin-top: 10px;
}

.prop-wrap {
  font: 30px "Droid Serif";
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
  color: #fff;
}

.prop-wrap img {
  width: 40px;
  margin-right: 10px;
}

.play-inform {
  height: 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center;
  width: 90%;
  margin: auto;
  border-bottom: 1px solid #ddd;
}

.play-inform span {
  font: 400 11px "Open Sans";
  color: #838383;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.play-inform-wrap + .play-inform-wrap {
  margin-left: 20px;
}

@media (min-width:480px) {
  .span-1 {
    font-size: 40px;
  }

  .span-2 {
    font-size: 16px;
  }

  .span-3 {
    font-size: 20px;
  }

  .span-4 {
    font-size: 60px;
  }
}

@media screen and (max-width: 1100px) {
  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 1050px) {
  .propovedy-container {
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (max-width: 1000px) {
  .footer-col {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-links {
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 400px;
  }
}

@media screen and (max-width: 960px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .new {
    width: calc(66.66666666666667% - 10px);
  }

  .gal {
    width: calc(41.66666666666667% - 10px);
  }

  .pastor {
    width: calc(83.33333333333334% - 10px);
  }

  .footer-col {
    width: calc(66.66666666666667% - 10px);
  }
}

@media (max-width:900px) {
  .about_church__text {
    text-align: center;
  }
}

@media screen and (max-width: 780px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .gal {
    width: calc(66.66666666666667% - 10px);
  }

  .pastor {
    width: calc(83.33333333333334% - 10px);
  }
}

@media (max-width: 680px) {
  .line_with_verse__container {
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 320px;
  }

  .line_with_verse__container .raspis {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media screen and (max-width: 560px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .gal {
    width: calc(100% - 10px);
  }

  .gal {
    margin-left: 10px;
  }

  .pastor {
    width: calc(100% - 10px);
  }

  .cool__box {
    width: calc(75% - 10px);
  }
}

@media (max-width: 560px) {
  .header-nav {
    display: none;
  }

  .nav-1,
  .nav-2 {
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .burger {
    display: block !important;
  }
}

@media (max-width:560px) {
  .about_church__pic {
    height: 300px;
  }

  .raspis {
    padding-left: 0;
  }
}

@media (min-width:480px) and (max-width:1280px) {
  .span-1 {
    font-size: calc(20px + (40 - 20) * ( (100vw - 480px) / ( 1280 - 480)));
  }

  .span-2 {
    font-size: calc(12px + (16 - 12) * ( (100vw - 480px) / ( 1280 - 480)));
  }

  .span-3 {
    font-size: calc(12px + (20 - 12) * ( (100vw - 480px) / ( 1280 - 480)));
  }

  .span-4 {
    font-size: calc(25px + (60 - 25) * ( (100vw - 480px) / ( 1280 - 480)));
  }
}