.partners_wrap {
  margin-top: 70px;
}

.partners {
  color: #868d96;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.partners-title a {
  color: #868d96;
  font-size: 14px;
  font-weight: 400;
  margin-top: 50px;
  display: block;
}

#carouselPartners {
  margin-top: 60px;
  min-height: 100px;
}

#carouselPartners .carousel-control-next,
#carouselPartners .carousel-control-prev {
  background: #fff;
  width: 46px;
  height: 46px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.12);
  border-radius: 50%;
}

#carouselPartners .la-angle-left,
#carouselPartners .la-angle-right {
  color: #1050cc;
  font-weight: bold;
}