header{
  background-color: #1152cb;
  position: relative;
}
header.header-inner {
  background: #fff;
}
.header-inner .navbar-main.navbar-light .navbar-nav .nav-link {
  color: #000 !important;
}
.header-inner .navbar-main.navbar-light .navbar-nav .nav-link:hover {
  color: #fff !important;
}
.header-inner .navbar-top .btn-region {
  color: #000;
}
.header-inner .navbar-top .btn-region:hover {
  color: #fff;
}
.header-inner .navbar-top {
  color: #000;
}
.nav-logo_img {
  background: url('../img/logo-w.png') no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  width: 170px;
  height: 44px;
}
.header-inner .nav-logo_img {
  background: url('../../img/logo-c.png') no-repeat;
}
.header-inner .navbar-top .btn-recall {
  color: #0054cc !important;
  border-color: #dce6f8;
  font-weight: 500;
}
.header-inner .navbar-top .btn-recall:hover {
  border-color: #b2c6e9;
}
.header-inner i.fa-search {
  color: #656d77;
}
.main-searcher {
  position: absolute;
  width: 100%;
  background: white;
  /*top: -120px;*/
  left: 0;
  z-index: 100;
}
.main-searcher .row {
  height: 100px;
}
.main-searcher input {
  border: transparent;
  box-shadow: none !important;
}
.main-searcher .fa-times {
  color: #a9aeb4;
  font-size: 20px;
  cursor: pointer;
}

.navbar-top {
  color: #fff;
}
.navbar-top .header-phone {
  font-weight: 500;
}

.navbar-top .btn-recall {
  background-color: transparent !important;
  border-color: rgba(255,255,255,0.16);
  border-radius: 16px;
  color: rgba(255,255,255,0.87) !important;
}
.navbar-top .btn-recall:active,
.navbar-top .btn-recall:hover {
  border-color: #e6e6e6;
}

.navbar-top .btn-region {
  background-color: transparent !important;
  border-color: transparent !important;
  color: rgba(255,255,255,0.87);
}
.navbar-top .btn-region:active,
.navbar-top .btn-region:hover {
  background: #366EDD !important
}

.navbar-main {
}

.navbar-main .nav-item {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}
.navbar-main.navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.9);
 }
.navbar-main.navbar-light .navbar-nav .nav-link:hover {
  background: #366EDD
 }
.navbar-main.navbar-light .navbar-nav .show > .nav-link,
.navbar-main.navbar-light .navbar-nav .active > .nav-link,
.navbar-main.navbar-light .navbar-nav .nav-link.show,
.navbar-main.navbar-light .navbar-nav .nav-link.active {
   color: rgba(255, 255, 255, 0.9);
 }
.navbar-main .dropdown-toggle::after {
  border: none;
}

/* Кнопка моб. меню*/
.navbar-main.navbar-light .navbar-toggler {
  position: relative;
  z-index: 10;
  color: rgba(0, 0, 0, 0.5);
  border-color: transparent;
}

/* Меню моб. */
.navbar-main .navbar-collapse.collapsing,
.navbar-main .navbar-collapse.collapse.show {
  position: absolute;
  z-index: 9;
  top: -5px;
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.9);
}

.navbar-main .navbar-collapse.collapsing .navbar-nav .nav-link,
.navbar-main .navbar-collapse.collapse.show .navbar-nav .nav-link{
}



.search-block {
  position: relative;
  z-index: 10;
}
.search-block input{
  opacity: 0;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  border-radius: 20px;
  transition: all 0.15s ease-in-out;
  width: 100%;
}
.search-block button{
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px 5px 0 0;
  text-decoration: none;
  font-size: 1.3em;
  transition: all 0.15s ease-in-out;
}

header i.fa-search{
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  font-size: 1.6em;
  cursor: pointer;
}

.navbar-main button i.fa-bars{
  color: black;
  text-decoration: none;
  font-size: 1.4em;
}

.search-block.on input{
  opacity: 1;
}
.search-block.on button i.fa-search {
  color: rgba(0, 0, 0, 1);
}

.header-inner__no-slider {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
}


@media (max-width: 991.98px) {
  .search-block {
   }
  .search-block input{
    opacity: 1;
  }
  .search-block button i.fa-search {
    color: rgba(0, 0, 0, 1);
  }

}
